*{
    box-sizing:border-box;
  }
  @media(prefers-reduced-motion:no-preference){
    *{
   scroll-behavior:smooth;
    }
  }
  @media (min-width:769px){
  nav{
    position:fixed;
    width:30%;
    float:left;
    height:100vh;
    border-right:2px solid green;
    background:#dfdfdf;
  }
  .main-section{
    padding-left:20px;
    width:70%;
    float:right;
    background:#efefef;
  }
  }
  @media (max-width:768px){
    nav{
      width:100%;
      background-color:#dfdfdf;
      border-bottom:2px solid green;
    }
    .main-section{
      padding-left:20px;
      width:100%;
      background:#efefef;
      padding-top:1px;
      padding-bottom:1px;
    }
  }
  body{
    margin:0;
    padding:0;
    font-family:sans-serif;
  }
  ol{
   padding:0; 
   list-style:none;
  font-size:1.1rem;
  }
  .nav-link{
  text-decoration:none;
    color:black;
  }
  ol li{
  border-top:1px solid black;
  margin:6px 0;
  padding:7px 0 0 14px;  
  }
  nav header{
    text-align:center;
    padding-top:2px;
  }
  .code{
    background:#cfcfcf;
    width:90%;
    margin-left:10px;
    padding:10px;
    border-radius:10px;
  }
  